main {
    height: 100%;
    background-size: auto 150%;
    background-repeat: no-repeat;
    background-color: var(--secondary-color);
    background-image: url("../assets/logo-small.svg");
    background-position: right -15vh bottom -20vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
}

.title {
    color: white;
    margin: 1vh 5vw;
    line-height: 1.5;
    font-size: calc(30px + 6vh);
    font-weight: bold;
    font-family: "Bebas Neue", cursive;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
    font-size: calc(10px + 1vh);
    min-width: calc(250px + 50vh);
    margin: 1vh 5vw;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.search-box label {
    font-weight: bold;
    margin: 0px 5px;
}

.search-box select {
    width: 25%;
    padding: 10px;
    margin: 0px 5px;
    font-size: calc(10px + 1vh);
}

.search-box button {
    width: 15%;
    padding: 10px;
    margin: 0px 5px;
    font-size: calc(10px + 1vh);
}

.search-box button:hover {
    background-color: var(--terciary-color);
}

@media only screen and (max-width: 500px) {
    main {
      background-image: none;
    }
}