:root {
    --offset-color: #555
}

body {
    height: 100%;
    background-color: whitesmoke;
}

main {
    display: flex;
    height: 100%;
    margin: 20px;
}

.sidebar-filters {
    display: flex;
    flex-direction: column;
    justify-content: top;
    top: 15px;
    margin: 20px 30px 20px 10px;
    width: 15%;
    height: fit-content;
    position: sticky;
    position: -webkit-sticky;
}

.sidebar-filters h3 {
    font-size: x-large;
    margin: 10px 0px;
}

.sidebar-filters input, select {
    background-color: white;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 10px 0px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.sidebar-filters button {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.job-cards {
    flex-grow: 1;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.job-card {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--terciary-color);
    border-radius: 10px;
    padding: 20px;
    height: fit-content;
    cursor: pointer;
    font-size: 14px;
    color: var(--offset-color);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all .2s ease-in-out;
}

.job-card:hover {
    transform: scale(1.02); 
}

.job-card img {
    width: 100%;
    border-radius: 5px;
}

.job-card div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-card .section-a {
    color: var(--offset-color);
    font-size: medium;
    margin-top: 10px;
}

.job-card .section-b {
    margin-top: 5px;
}

.job-card .section-b h3 {
    margin: 0;
    font-size: large;
    color: black;
}

.job-card .section-c {
    margin-top: 5px;
}

.job-card .rate, .job-card .pay {
    color: var(--primary-color);
    font-size: medium;
    font-weight: bold;
}

.description {
    margin-top: 0px;
}

.tags {
    margin-bottom: 10px;
}

.tag {
    display: inline-block;
    background-color: var(--terciary-color);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 5px;
    font-size: 12px;
}

.tag:hover {
    font-weight: bold;
}

.apply-button {
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
}

@media only screen and (max-width: 1200px) {
    main {
        flex-direction: column;
    }

    .sidebar-filters {
        display: none;
    }
}